* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

body {
  background-color: #f1f4fB;
  position: fixed;
}

h1 {
  font-size: 90px;
}

p {
  font-size: 32px;
}

.header {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}